---
layout: default_2
title: "Our Portfolios"
---

{% include header_2.html %}
<!-- POrtfolio  Start -->
<section class="section portfolio-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10 text-center">
				<span class="h5 text-color text-uppercase">
					our works
				</span>
				<h3 class="mb-5 mt-2">Wide Grid Portfolio</h3>
			</div>
		</div>

    <div class="row align-items-center mb-5">
      	<div class="col-12 text-center">
	        <div class="btn-group btn-group-toggle " data-toggle="buttons">
	          <label class="btn border-0 active">
	            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All Projects
	          </label>
						{% assign categories = site.portfolios| map: 'categories' | join: ',' | split: ',' | uniq %}
						{% for category in categories %}
						<label class="btn border-0">
							<input type="radio" name="shuffle-filter" value="{{ category | downcase | slugify }}" />{{ category }}
						</label>
						{% endfor %}
	        </div>
      </div>
    </div>    
  </div>		


  <div class="container-fluid">
    <div class="row shuffle-wrapper portfolio-gallery">
      {% include portfolio_loop.html %}
    </div>
	</div>
</section>
<!-- Portfolio  End -->