<!-- Contact Start -->
<section class="section home-contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<span class="h5 text-color text-uppercase">
					Contact me
				</span>
				<h3 class="mb-5 mt-2">Let’s Create <br>Something Big</h3>

				<form action="{{site.contact_form_action}}" class="home-contact-form">
					<div class="form-row">
						<div class="col-lg-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="First Name">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Last Name">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-lg-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email Address">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Phone Number">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<textarea name="msg" id="msg" cols="30" rows="4" class="form-control mb-4" placeholder="Message"></textarea>

							<button type="submit" class="btn btn-primary">Get a quote</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- Contact End -->