<!-- Counter Start -->
{% assign count = site.data.homepage_1.funfacts %}
{% if funfacts.enable %}
<section class="section-sm counter-section position-relative bg-blue">
	<img src="{{ count.bg_image | relative_url }}" alt="" class="overlay-shape">
	<div class="container">
		<div class="row">
			{% for item in funfacts.item %}
			<div class="col-lg-3 col-md-6">
				<div class="counter-content d-flex mb-5 mb-lg-0">
					<i class="{{item.icon}} mr-4"></i>
					<div>
						<h2 class="mb-0"><span class="counter">{{item.value}}</span></h2>
						<p class="text-capitalize mb-0">{{ item.name }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- Counter End -->
{% endif %}