<div class="sidebar-widget search-form mb-5">
  <form>
    <input type="text" class="form-control" id="search-input" placeholder="Search here">
    <i class="ti-search"></i>
  </form>
  <ul id="results-container"></ul>
</div>

<div class="sidebar-widget cat-list mb-5">
  <h4 class="mb-4">Category</h4>
  <ul class="list-group list-group-flush">
    {% assign categories_list = site.categories %}
    {% if categories_list.first[0] == null %}
    {% for category in categories_list %}
    <li class="list-group-item"><a class="text-capitalize"
        href="/category/{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }}
        <span>({{ site.tags[category].size }})</span></a></li>
    {% endfor %}
    {% else %}
    {% for category in categories_list %}
    <li class="list-group-item"><a class="text-capitalize"
        href="/category/{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | camelcase }}
        <span>({{ category[1].size }})</span></a></li>
    {% endfor %}
    {% endif %}
    {% assign categories_list = nil %}
  </ul>
</div>


<div class="sidebar-widget article-list mb-5">
  <h4 class="mb-4">Latest Article</h4>
  {% for post in site.posts limit:"3" %}
  <div class="media border-bottom py-3">
    {% if post.post_image %}
    <a href="{{post.url | relative_url}}.html"><img class="mr-4 sm-thumb" src="{{post.post_image}}" alt="{{post.title}}" /></a>
    {% endif %}
    <div class="media-body">
      <h5 class="my-2"><a href="{{post.url | relative_url}}.html">{{post.title}}</a></h5>
      <span class="text-sm text-color text-uppercase">{{post.date | date_to_long_string}}</span>
    </div>
  </div>
  {% endfor %}
</div>


<div class="sidebar-widget instagram mb-5">
  <h4 class="mb-4">Photos Gallery</h4>
  {% for post in site.posts limit:"9" %}
  {% if post.post_image %}
  <div class="insta-item">
    <a href="{{post.post_image}}" data-fancybox="gallery"><img src="{{post.post_image}}" alt="{{post.title}}"
        class="img-fluid" /></a>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="sidebar-widget tags">
  <h4 class="mb-4">Tags</h4>
  {{site | tag_cloud}}
</div>