<!-- Slill Start -->
{% assign skill = site.data.homepage_2.skill %}
{% if skill.enable %}
<section class="section skill">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 pr-6">
				<span class="h5 text-color text-uppercase">
					{{skill.subtitle}}
				</span>
				<h3 class="mb-5 mt-2">{{skill.title}}</h3>

				{% for item in skill.item %}
				<div class="progress-block">
					<h6 class="text-uppercase">{{ item.name }}</h6>
					<div class="progress">
					  <div class="progress-bar progress-bar-striped" style="width: {{item.percentage}};">
					  	<span class="bg-primary skill-number">{{item.percentage}}</span>
					  </div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="col-lg-6 text-right mb-5">
				<div class="skill-img position-relative mb-4">
					<img src="{{'/assets/images/about/pattern-skill.jpg' | relative_url }}" alt="" class="img-fluid">	
					<img src="{{ skill.image | relative_url }}" alt="" class="img-fluid position-absolute img-absolute">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Skill End -->
{% endif %}