<!-- Team Start -->
{% assign team = site.data.homepage_2.team %}
{% if team.enable %}
<section class="team">
	<div class="container-fluid p-0">
		<div class="row no-gutters">
			{% for item in team.item %}
			<div class="col-md-3 col-sm-6">
				<div class="team-item position-relative">
					<img src="{{item.image | relative_url }}" alt="" class="img-fluid">
					<div class="team-overlay-content px-4 py-3">
						<h5 class="mb-0 text-white">{{item.name}}</h5>
						<p>{{item.designation}}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
<!-- Team End -->